<p>Componente fixo</p>
<div class="space-x-4">
    <app-loading-button class="bg-red-600 text-white" (action)="navigateAbout()">
        Testar contexto
    </app-loading-button>
    <app-loading-button class="bg-green-200" (action)="navigateInheritance()">
        Testar comunicação entre pai e filho
    </app-loading-button>
    <app-loading-button class="bg-blue-500" (action)="navigatePrimeNG()">
        Testar PrimeNG
    </app-loading-button>
    <app-loading-button class="bg-purple-400" (action)="navigatePipes()">
        Testar Pipe
    </app-loading-button>
    <app-loading-button class="bg-slate-900 text-white"  (action)="navigateForms()">
        Testar forms
    </app-loading-button>
    <app-loading-button class="bg-slate-900 text-white"  (action)="navigateDiretivasEstruturais()">
        Testar Diretivas estruturais
    </app-loading-button>
    <app-loading-button class="bg-slate-900 text-white"  (action)="navigateAsyncPipe()">
        Async pipe
    </app-loading-button>
</div>
<div class="mt-10 mb-10 w-full h-[1px] bg-black opacity-[0.2]"></div>
<router-outlet></router-outlet>