<p>Componente fixo</p>
<div class="flex flex-col gap-1" >
    <p-button [style]="{
        'background-color':'red',
        'text-overflow':'ellipsis',
    }" (click)="navigateAbout()">
        Testar contexto
    </p-button>
    <p-button [style]="{
        'background-color':'blue',
        'text-overflow':'ellipsis',
    }" (click)="navigateInheritance()">
        Testar comunicação entre pai e filho
    </p-button>
    <p-button [style]="{
        'background-color':'green',
        'text-overflow':'ellipsis',
    }" (click)="navigatePrimeNG()">
        Testar PrimeNG
    </p-button>
    <p-button [style]="{
        'color':'black',
        'background-color':'white',
        'text-overflow':'ellipsis',
    }" (click)="navigatePipes()">
        Testar Pipe
    </p-button>
    <p-button [style]="{
        'color':'black',
        'background-color':'white',
        'text-overflow':'ellipsis',
    }" (click)="navigateForms()">
        Testar forms
    </p-button>
</div>
<router-outlet></router-outlet>