<div>
    <app-child>
    </app-child>
    <div>
        Quantidade de cidades no pai {{cities?.length}}
    </div>
    <button class='mb-0' (click)="changeCidade()" [ngClass]="{
        'bg-white':true,
        'text-black':true,
        'border-solid':true,
        'border-gray-200':true,
        'p-[10px]':true,
        'border':true,
        'rounded-[10px]':true,
        'text-[14px]':true,
    }">
        Zerar cidades pelo pai
    </button>

    <app-inherited-style [styleTyped]="{}">

    </app-inherited-style>

    <p-button [style]="{'display':'block','color':true?'green':'red'}"   (onClick)="open=true">
        Mostrar dados
    </p-button>

    <p-confirmDialog />
    <p-dialog  header="Dados" [(visible)]="open" [modal]="true">
        <p-table [tableStyle]="{'width':'400px'}" [value]="cities?.slice(0,20) || []">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Estado</th>
                    <th>Cidade</th>
                    <th>Excluir</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-city>
                <tr>
                    <td>
                        {{city.id}}
                    </td>
                    <td>
                        {{city.nome}}
                    </td>
                    <td>
                        {{city.municipio.nome}}
                    </td>
                    <td>
                        <div (click)="confirmarDelecao($event,city.id)" class="pi pi-trash" [style]="{'cursor':'pointer'}">
    
                        </div>
                    </td>
                </tr>
            </ng-template>
            
        </p-table>
    </p-dialog>

    <div class="mt-[10px]">
        <app-loading-button class="rounded-full bg-purple-800"  (click)="load()" [isLoading]="loading" [title]="'Buscar'"/>
    </div>

</div>
